.places {
    display: grid;
    row-gap: 80px;
    width: calc(100% - 148px*2);
    margin: 0 auto;

}

@media screen and (max-width: 1140px ) {
    .places {
        width: calc(100% - 48px*2);
    }
}

@media screen and (max-width: 984px ) {
    .places {
        row-gap: 73px;
        width: calc(100% - 24px*2);
    }
}

@media screen and (max-width: 568px){
    .places {
        row-gap: 50px;
        width: 100%;
    }
    
}
