.lead {
    display: flex;
    flex-direction: column;
    width: calc(100% - 148px*2);
    margin: 0 auto;
}

@media screen and (max-width: 1140px ) {
    .lead {
        width: calc(100% - 48px*2);
    }
  }
  
  @media screen and (max-width: 984px ) {
    .lead{
        width: 100%;
    }
  }
  