.header__logo{
  width: 176px;
  height: 52px;
  object-fit: fill;
  margin-left: 0px;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 568px){
  .header__logo {
  width: 142px;
  height: 42px;
  }
}