.header__logo{
    width: 176px;
    height: 52px;
    object-fit: fill;
    margin: 0;
    transition: opacity .3s linear;
}

.header__logo:hover {
    opacity: .8;
}
@media screen and (max-width: 568px){
    .header__logo {
        width: 142px;
        height: 42px;
  }
}