.footer {
  margin: 92px auto 0;
  width: 88.52%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 984px ) {
  .footer {
    margin: 88px auto 0;
    width: 94%;
  }
}

@media screen and (max-width: 745px) {
  .footer {
    margin: 64px auto 0;
    width: 94%;
  } 
}

@media screen and (max-width: 568px){
  .footer {
      flex-direction: column;
      width: 90%;
  }
}